* {box-sizing:border-box;}
body {
/*  
    background-image: url("../minworldmap.jpg");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
*/
    background: url("../minworldmap.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    font-family: sans-serif;
}

.bgimg {
    
    position:fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index:-1;
    opacity:1;   

}

.header {
    text-align:center; 
    color: purple; 
}

.form-container {
    color: purple;
}

.greeting {
    color:red;
    /*text-shadow: 1px 1px 3px rgba(255,255,255,.5);*/
    text-align: center;
    
}

.nytimes-container {
    border: 1px solid purple; /*-----------*/
    float:left;
    padding-left: 0px;
    padding-right: 20px;
    margin-right: 5px;
    background-color: rgba(255,255,255,0.6);
    /*overflow:scroll;*/
}

#nytimes-header {
    padding-left: 10px;
    text-align:center; 
    color: purple;
}
#nyt-city {
    text-align:center; 
    color: red;
}

.article-list { width:300px; }

.article {
    list-style-type: none;
/*    padding:10px;*/
    border-top: 1px solid #CCC;
}
.article:first-child { border-top:none; }

.wikipedia-container {
    float:left;
    border: 1px solid green;              /*-----------*/
    width:250px;
    background-color: rgba(255,255,255,0.6);
    padding-left: 0px;
    padding-right: 20px;
    margin-left: 5px;
    margin-right: 5px;

}

#wikipedia-header {
    padding-left: 15px;
    text-align:center; 
    color:green;
}

.gmap {

    width:350px;
    /*height: 200px;*/
    border: 1px solid red;
    float: left;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: rgba(255,255,255,0.6);
}

.map-head {
    text-align:center;
    color: red;
}

.map-para {
    text-align:left;
}

.footer {
    color:blue;
    display: block; 
    position: fixed; 
    bottom: 10px;
    right: 15px; 
}

.readme a{
    color: #ffdead;
    position: fixed;
    float:right;
    top: 10px;
    right: 15px;
}

.streetcityerror {

    color: purple;
/*    font-weight:bold;*/
    font-size:14px; 
    padding-left:70px; 
    padding-top:0;
    padding-bottom:0;
}

.onlycityerror {
    color: purple;
/*  font-weight:bold;*/
    font-size:14px; 
    position: relative; 
    padding-left: 300px;
    padding-top:0;
    padding-bottom:0;
    
}

@-moz-document url-prefix() {
    .onlycityerror {
        color: purple;
        font-size:14px; 
        position: relative; 
        padding-left: 310px;
        padding-top:0;
        padding-bottom:0;
        
    }
}

.outer {
    width: 100%;
    clear: both;

}

.weather-container {
    border: 1px solid blue;
    float:left;
    width:300px;
    background-color: rgba(255,255,255,0.6);
    padding-left: 0px;
    padding-right: 10px;
    margin-left: 5px;
    margin-right: 5px;

}

#weather-header {
    text-align: center;
    color: blue;
}

#weather-info {
    text-align: left;
}

.counter {
  /*  position: fixed;*/
    float:right;
/*    top: 10px;*/
    right: 15px;
}